/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../../.rvm/gems/ruby-2.2.0@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../.rvm/gems/ruby-2.2.0@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../.rvm/gems/ruby-2.2.0@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../.rvm/gems/ruby-2.2.0@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../.rvm/gems/ruby-2.2.0@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../.rvm/gems/ruby-2.2.0@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../.rvm/gems/ruby-2.2.0@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../.rvm/gems/ruby-2.2.0@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../.rvm/gems/ruby-2.2.0@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/layout/_header.scss */
#header-wrapper {
  background: #000;
  height: auto;
  padding: 0 0 5px 0;
  position: relative;
}
/* line 6, ../sass/layout/_header.scss */
#header-wrapper #logo {
  height: 80px;
  margin-bottom: 5px;
  position: absolute;
}
/* line 11, ../sass/layout/_header.scss */
#header-wrapper .region-social, #header-wrapper .region-page-top {
  background: url("../images/dead_guy_logo.png") 95% top no-repeat, url(../images/top_repeater.png) center bottom repeat-x;
  height: 188px;
}
/* line 15, ../sass/layout/_header.scss */
#header-wrapper #block-menu-menu-social-nav {
  position: absolute;
  bottom: 30px;
  right: 10%;
}
/* line 20, ../sass/layout/_header.scss */
#header-wrapper #block-menu-menu-social-nav .menu li {
  margin: 10px;
}
/* line 22, ../sass/layout/_header.scss */
#header-wrapper #block-menu-menu-social-nav .menu li.first.leaf a {
  background: url(../images/youtube.png) no-repeat;
  width: 50px;
  height: 50px;
  font-size: 0;
}
/* line 28, ../sass/layout/_header.scss */
#header-wrapper #block-menu-menu-social-nav .menu li.leaf a {
  background: url(../images/twitter.png) no-repeat;
  width: 50px;
  height: 50px;
  font-size: 0;
}
/* line 34, ../sass/layout/_header.scss */
#header-wrapper #block-menu-menu-social-nav .menu li.last a {
  background: url(../images/facebook.png) no-repeat;
  width: 51px;
  height: 51px;
  font-size: 0;
}

/* line 46, ../sass/layout/_header.scss */
#home .panel-col-first {
  width: 25%;
}
/* line 48, ../sass/layout/_header.scss */
#home .panel-col-first h2 {
  display: none;
}
/* line 52, ../sass/layout/_header.scss */
#home .panel-col-first .nav li {
  display: inherit;
  font-size: 2em;
  padding: 0;
}
/* line 57, ../sass/layout/_header.scss */
#home .panel-col-first .nav a {
  color: orange;
  font-family: impact;
  text-decoration: none;
}
/* line 62, ../sass/layout/_header.scss */
#home .panel-col-first .nav a:hover {
  color: #fff;
  background: none;
}
/* line 68, ../sass/layout/_header.scss */
#home .panel-col-last {
  width: 75%;
}

/* line 73, ../sass/layout/_header.scss */
#wrapper {
  background: #000;
}

/* line 1, ../sass/layout/_slideshow.scss */
.main-slideshow {
  background: url("../images/cork.png") no-repeat;
  background-size: cover;
  min-height: 200px;
  max-height: 350px;
  border-radius: 15px;
  border: 1px solid #81c5fe;
}
/* line 8, ../sass/layout/_slideshow.scss */
.main-slideshow p, .main-slideshow h2 {
  color: #fff;
}

/* line 1, ../sass/layout/_custom.scss */
.latest_info h1, .main_content h1 {
  color: #e3831c;
}

/* line 5, ../sass/layout/_custom.scss */
.border_blue {
  margin: 0 0 5px -15px;
  border-color: #81c5fe;
  width: 70%;
  width: 80%;
  height: 2px;
  background-color: #81c5fe;
  border: 0 none;
}

/* line 15, ../sass/layout/_custom.scss */
.block:first-child h2.block-title {
  display: none;
}

/* line 19, ../sass/layout/_custom.scss */
.header {
  border-bottom: 25px solid #81c5fe;
  margin-bottom: 5px;
}
/* line 22, ../sass/layout/_custom.scss */
.header .nav > li {
  display: inline-block;
  float: right;
  padding-left: 2%;
}

/* line 28, ../sass/layout/_custom.scss */
.region-header {
  background: #0e2d46;
  border-bottom: 5px solid #000;
}
/* line 31, ../sass/layout/_custom.scss */
.region-header .menu {
  padding: 5px 10%;
}

/* line 36, ../sass/layout/_custom.scss */
#page-header {
  border-bottom: 2px solid #fff;
}

/* line 44, ../sass/layout/_custom.scss */
section#block-system-main-menu {
  display: inline;
  width: 30%;
  float: left;
}

/* line 50, ../sass/layout/_custom.scss */
.main-slideshow {
  background: url("../images/cork.png") no-repeat;
  background-size: cover;
  min-height: 200px;
  max-height: 350px;
  border-radius: 15px;
  border: 1px solid #81c5fe;
}
/* line 57, ../sass/layout/_custom.scss */
.main-slideshow p, .main-slideshow h2 {
  color: #fff;
}

/* line 62, ../sass/layout/_custom.scss */
.navbar-default {
  background-color: transparent;
  border: none;
}

/* line 67, ../sass/layout/_custom.scss */
.region-header .links a:link, .links a:visited {
  display: block;
  height: 36px;
}

/* line 73, ../sass/layout/_custom.scss */
.region-social {
  background: url("../images/dead_guy_logo.png") right top -5px no-repeat, url(../images/top_repeater.png) center bottom repeat-x;
  height: 96px;
  padding: 5px 10%;
  margin-bottom: 5px;
}
/* line 79, ../sass/layout/_custom.scss */
.region-social ul li.leaf {
  display: inline-block;
  float: right;
}

/* line 1, ../sass/layout/_panels.scss */
#block-views-blog-block-1 {
  border: 2px solid #a19f9f;
  border-radius: 15px;
  padding: 10px;
  min-height: 200px;
  background: #0e2d46;
  color: #fff;
}
