.latest_info h1, .main_content h1 {
  color: $menu-link;
}

.border_blue {
  margin: 0 0 5px -15px;
  border-color: $light-blue;
  width: 70%;
  width: 80%;
  height: 2px;
  background-color: $light-blue;
  border: 0 none;
}

.block:first-child h2.block-title {
  display: none;
}

.header {
  border-bottom: 25px solid #81c5fe;
  margin-bottom: 5px;
  .nav>li {
    display: inline-block;
    float: right;
    padding-left: 2%;
  }
}
.region-header {
  background: $dark-blue;
  border-bottom: 5px solid #000;
    .menu {
      padding: 5px 10%;
    }
}

#page-header {
  border-bottom: 2px solid #fff;
}





section#block-system-main-menu {
  display: inline;
  width: 30%;
  float: left;
}

.main-slideshow {
  background: url("../images/cork.png") no-repeat;
  background-size: cover;
  min-height: 200px;
  max-height: 350px;
  border-radius: 15px;
  border: 1px solid $light-blue;
    p, h2 {
      color: $white;
    }
}

.navbar-default {
  background-color: transparent;
  border: none;
}

.region-header .links a:link, .links a:visited
{
display: block;
height: 36px;
}

.region-social {
  // background-color: $dark-blue;
  background: url("../images/dead_guy_logo.png") right top -5px no-repeat, url(../images/top_repeater.png) center bottom repeat-x;
  height: 96px;
  padding: 5px 10%;
  margin-bottom: 5px;
  ul li.leaf {
    display: inline-block;
    float: right;
  }
}










