#header-wrapper {
  background: $black;
  height: auto;
  padding: 0 0 5px 0;
  position: relative;
  #logo {
    height: 80px;
    margin-bottom: 5px;
    position: absolute;
  }
  .region-social, .region-page-top {
    background: url("../images/dead_guy_logo.png") 95% top no-repeat, url(../images/top_repeater.png) center bottom repeat-x;
    height: 188px;
  }
  #block-menu-menu-social-nav {
    position: absolute;
    bottom: 30px;
    right: 10%;
    .menu {
      li {
        margin: 10px;
        &.first.leaf a {
          background: url(../images/youtube.png) no-repeat;
          width: 50px;
          height: 50px;
          font-size: 0;
        }
        &.leaf a {
          background: url(../images/twitter.png) no-repeat;
          width: 50px;
          height: 50px;
          font-size: 0;
        }
        &.last a {
          background: url(../images/facebook.png) no-repeat;
          width: 51px;
          height: 51px;
          font-size: 0;
        }
      }
    }
  }
}

#home {
  .panel-col-first {
    width: 25%;
    h2 {
      display: none;
    }
    .nav {
      li {
        display: inherit;
        font-size: 2em;
        padding: 0;
      }
      a {
        color: orange;
        font-family: impact;
        text-decoration: none;
      }
      a:hover {
        color: #fff;
        background: none;
      }
    }
  }
  .panel-col-last {
    width: 75%;
  }
}

#wrapper {
  background: $black;
}



