@import "vars";

body {
  background: #000;
}

.block:first-child h2.block-title {
  display: none;
}

.header {
  border-bottom: 25px solid #81c5fe;
  margin-bottom: 5px;
  .nav>li {
    display: inline-block;
    float: right;
    padding-left: 2%;
  }
}

.row {
  margin-bottom: 5px;
}

#header {
  width: 100%;
  height: 200px;
  background: #81c5fe;
}

.region-header {
  background: $dark-blue;
  border-bottom: 5px solid #000;
    .menu {
      padding: 5px 10%;
    }
}

#page-header {
  border-bottom: 2px solid #fff;
}

#navbar {
  height: auto;
  background: url("../images/dead_guy_logo.png") right -11px no-repeat;
  margin-bottom: 5px;
  border-bottom: 2px solid #fff;
    a {
     color: $menu-link;
     font-family: Impact, Charcoal, sans-serif;
     font-size: 2em;
     text-decoration: none;
    }
    a:hover {
       color: #fff;
     }
}

section#block-system-main-menu {
  display: inline;
  width: 30%;
  float: left;
}

.region-slider, .region-content {
  border: 2px solid #a19f9f;
  border-radius: 15px;
  padding: 10px;
  min-height: 200px;
}

.region-content {
  background: $dark-blue;
    p {
      color: $white;
    }
}

.region-slider {
  background: url("../images/cork.png") no-repeat;
  background-size: cover;
    p, h2 {
      color: $white;
    }
}


.nav>li>a, #block-system-main h2 a, .submitted {
  color: orange;
  font-family: impact;
}

.nav>li>a {
  font-size: 2em;
}

.nav>li>a:hover, .nav>li>a:focus {
  background: transparent;
  color: #fff;
}

.navbar-default {
  background-color: transparent;
  border: none;
}

#main-wrapper {
  width: 65%;
  height: auto;
  float: left;
  background: green;
}

.region-header .links a:link, .links a:visited
{
display: block;
height: 36px;
}

.region-header .leaf a {
  background: url(../images/youtube.png) no-repeat;
  width: 50px;
  height: 50px;
  font-size: 0;
}

.region-header .first.leaf a {
  background: url(../images/twitter.png) no-repeat;
  width: 50px;
  height: 50px;
  font-size: 0;
}

.region-header .last.leaf a {
  background: url(../images/facebook.png) no-repeat;
  width: 51px;
  height: 51px;
  font-size: 0;
}






